<%- include('partials/header', { title: 'Admin' }) %>
<%- include('partials/navbar') %>

<h1>Preguntas</h1>


<button type="button" onclick="location.href='/preguntas/crear'"> Añadir pregunta </button>


<ul>
  <% preguntas.forEach(p => { %>
    <li>
      <strong><%= p.enunciado %></strong>
      <br>
      <form action="/preguntas/eliminar/<%= p.id %>" method="POST" style="display:inline;" class="form-eliminar">
        <button class="eliminar">Eliminar</button>
      </form>

      <button type="button" onclick="location.href='/preguntas/editar/<%= p.id %>'"> Editar </button>
     
    </li>
  <% }) %>
</ul>

<script>
// Confirmación antes de eliminar
document.querySelectorAll('.form-eliminar').forEach(form => {
  form.addEventListener('submit', (e) => {
    const confirmar = confirm('¿Estás seguro de que quieres eliminar esta pregunta?');
    if (!confirmar) {
      e.preventDefault(); // cancela el submit si el usuario cancela
    }
  });
});

</script>

<%- include('partials/footer') %>
