<%- include('partials/header', { title: 'Crear Pregunta' }) %>
<%- include('partials/navbar') %>

<h1>Nueva pregunta</h1>

<form action="/preguntas/crear" method="POST">
  <input type="text" name="enunciado" placeholder="Enunciado" required>

  <div id="opciones-container">
    <h3>Opciones:</h3>

    <div class="opcion">
      <input type="text" name="opciones[]" placeholder="Opción 1" required>
    </div>

    <div class="opcion">
      <input type="text" name="opciones[]" placeholder="Opción 2" required>
    </div>
  </div>
  
  <button type="button" id="add-option">Añadir opción</button>

  <div>
    <label>Tema:</label>
    <div id="temas-container">
      <div class="tema-select">
        <select name="tema[]">
          <% temas.forEach(t => { %>
            <option value="<%= t %>"><%= t %></option>
          <% }) %>
        </select>
      </div>
    </div>
    <button type="button" id="add-tema">+ Añadir tema</button>

  </div>

  <div>
    <label>Respuesta Correcta:</label>
    <input type="text" name="respuestaCorrecta" placeholder="Respuesta correcta" required>
  </div>

  <button type="submit">Guardar</button>
</form>

<script src="/pregunta-form.js"></script>

<%- include('partials/footer') %>
