<%- include('partials/header', { title: 'Editar Pregunta' }) %>
<%- include('partials/navbar') %>

<h1>Editar pregunta</h1>

<form action="/preguntas/editar/<%= pregunta.id %>" method="POST">
  <input type="text" name="enunciado" value="<%= pregunta.enunciado %>" required>

  <div id="opciones-container">
    <h3>Opciones:</h3>
    <% pregunta.opciones.forEach((op, i) => { %>
      <div class="opcion">
        <input type="text" name="opciones[]" value="<%= op %>" required>
        <button type="button" class="remove-option">X</button>
      </div>
    <% }) %>
  </div>

  <button type="button" id="add-option">+ Añadir opción</button>
  
  <div>
    <label>Tema:</label>
    <div id="temas-container">
      <% pregunta.tema.forEach(t => { %>
        <div class="tema-select">
          <select name="tema[]">
            <% temas.forEach(opt => { %>
              <option value="<%= opt %>" <%= opt === t ? 'selected' : '' %>><%= opt %></option>
            <% }) %>
          </select>
          <button type="button" class="btn-eliminar-tema">X</button>
        </div>
      <% }) %>
    </div>
    <button type="button" id="add-tema">+ Añadir tema</button>
  </div>
  <div>
    <label>Respuesta Correcta:</label>
    <input type="text" name="respuestaCorrecta" value="<%= pregunta.respuestaCorrecta %>" placeholder="respuesta correcta" required>
  </div>
  <button type="submit">Guardar cambios</button>
</form>

<script src="/pregunta-form.js"></script>

<%- include('partials/footer') %>
